

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black;
    color: yellow; */
}
body{
    background-color: black;
    color: yellow;
    font-family:"Kode Mono",serif;

}
.container{
    margin: auto;
    margin-top: 15px;
    width: 40%;
    height: 95vh;
    /* border: 2px solid black; */
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),
     url(https://cdn.pixabay.com/photo/2024/06/21/10/50/ai-generated-8844136_960_720.png) ;
    background-position: center;
   
    background-size: cover;
    box-shadow: 3px 3px 3px white;
    padding-top: 1px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.heading p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}
.line{
    width: 69%;
    margin-top: 10px;
    height: 1px;
    background-color: yellow;
    margin: auto;
}
.error{
    text-align: center;
    font-size: 1rem;
    margin-top: 12px;
}
.input input{
    
    font-size: 1.5rem;
    width: 80%;
    height: 35px;
    opacity: 0.5;
    margin-top: 40px;
    margin-left: 50px;
    font-family:"Kode Mono",serif;
    font-style: italic;
   padding-left: 70px;

}
.input2 input{
    font-size: 0.9rem;
    width: 60%;
    
    height: 35px;
    opacity: 0.5;
    margin-top: 40px;
    margin-left: 90px;
    font-family:"Kode Mono",serif;
    font-style: italic;
   padding-left: 30px;
}
input2::placeholder{
    text-align: center;
    font-size: 1.5rem;
    font-family:"Kode Mono",serif;
    font-style: italic;
    color: black;
}

input:focus{
    outline: none;
}
.checkbox-container{
    width: 60%;
    
    height: 30vh;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 90px;
    box-shadow: 6px 6px 8px black;
}
.checkbox-container h3{
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}

.checkbox-content{
    margin-top: 10px;
    line-height: 30px;
}
.checkbox-content input{
    margin-left: 10px;
}

.btn button{
    width: 34%;
    height: 30px;
    margin-top: 20px;
    margin-left: 140px;
    font-family:"Kode Mono",serif;
    font-size: 0.9rem;
    color: yellow;
    border: 1px solid yellow;
   background: transparent;
   transition: all 0.5s ease-in-out;
}
.btn button:hover{
   transform: scaleX(1.2);
}